body{
    color: #fff;
}
html, body, .ept-event-wrapper {
        background: url(../../images/body-bg.jpg);
}
.ept-event-wrapper:before{
    background-color: rgb(66, 228, 199);
}
.ept-event-stracture h2.ept-main-title{
     background: -webkit-linear-gradient(#4bf8d9, #1c907b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        color: #4af5d7;
}
.ept-event-content {
        background: rgba(0, 0, 0, 0.30);
}
.ept-single-event-counter {
    border: 1px solid #263432;
}
.ept-event-content-left{
    border-right: 1px solid #33a696;
}
.ept-btn-resurbe{
  background: -webkit-linear-gradient(#4bf8d9, #1c907b);
  color: #fff;
}
.ept-btn-resurbe:hover{
 background: #42cab2;
  -moz-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
}