body{
    color: #fff;
}
html, body, .ept-event-wrapper {
        background: url(../../images/image-bg.jpg);
}
.ept-event-wrapper:before{
    background-color: rgb(66, 228, 199);
}
.ept-event-stracture h2.ept-main-title{
     background: -webkit-linear-gradient(#4bf8d9, #1c907b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        color: #4af5d7;
}
.ept-event-content {
        background: rgba(0, 0, 0, 0.30);
}
.ept-single-event-counter {
    border: 2px solid #263432;
}
