body{
    color: #fff;
}
html, body, .ept-event-wrapper {
        background: url(../../images/body-bg.jpg);
}
.ept-event-wrapper:before{
    background-color: #d74eff;
}
.ept-event-stracture h2.ept-main-title{
     background: -webkit-linear-gradient(#dd6cfe, #890fb6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        color: #bc47e1;
}
.ept-event-content {
        background: rgba(0, 0, 0, 0.30);
}
.ept-single-event-counter {
    border: 1px solid #9759aa;
}
.ept-event-content-left{
    border-right: 1px solid #9759aa;
}
.ept-btn-resurbe{
  background: -webkit-linear-gradient(#dd6cfe, #890fb6);
  color: #fff;
}
.ept-btn-resurbe:hover{
 background: #a423cc;
  -moz-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
}