body{
    color: #fff;
}
html, body, .ept-event-wrapper {
        background: url(../../images/body-bg.jpg);
}
.ept-event-wrapper:before{
    background-color: #c70f0f;
}
.ept-event-stracture h2.ept-main-title{
     background: -webkit-linear-gradient(#b60a0a, #f81c1c);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        color: #d51313;
}
.ept-event-content {
        background: rgba(0, 0, 0, 0.30);
}
.ept-single-event-counter {
    border: 1px solid #d51313;
}
.ept-event-content-left{
    border-right: 1px solid #d51313;
}
.ept-btn-resurbe{
  background: -webkit-linear-gradient(#b60a0a, #f81c1c);
  color: #fff;
}
.ept-btn-resurbe:hover{
 background: #d51313;
  -moz-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
}