@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
a, button, h1, h2, h3, h4, h5, h6, p{
    font-family: 'Open Sans', sans-serif;
}
html, body, .event-wrapper {
    font-family: 'Open Sans', sans-serif;
}
.ept-event-stracture h2.ept-main-title{
    font-size: 45px;
    font-weight: 700;
}
.ept-event-content h4{
    font-size: 15px;
    font-weight: 600;
}
.ept-single-event-counter h2{
    font-size: 45px;
    font-weight: 300;
}
.ept-single-event-counter h2 p{
    font-size: 18px;
}
.ept-event-place{
    font-size: 16px;
    line-height: 35px;
}
.ept-btn-resurbe{
    font-size: 14px;
    font-weight: 700;
}